<h1>Login</h1>

<div class="container grid-sm">
  <div class="columns">
    <div class="column centered">
  <!-- form input control -->
      <div class="form-group">
        <%= form_tag '/login', class: "form-group" do %>
          <label class="form-label" for="email">Email</label>
          <input class="form-input" type="text" id="email" name="email" placeholder="Email" />
          
          <label class="form-label" for="password">Password</label>
          <input class="form-input" type="password" id="password" name="password" placeholder="Password" />
          <br>
          <%= submit_tag "Submit", class:"btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
