<h1>Login</h1>

<div class="container">
  <div class="columns">
    <div class="column col-4 centered">
  <!-- form input control -->
      <div class="form-group">
        <%= form_tag '/login', class: "form-group" do %>
          <label class="form-label" for="name">Name</label>
          <input class="form-input" type="text" id="name" name="name" placeholder="Name" />
          
          <label class="form-label" for="password">Name</label>
          <input class="form-input" type="password" id="password" name="password" placeholder="Password" />
          <br>
          <%= submit_tag "Submit", class:"btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
