<div class="container grid-sm">
  <div class="columns">
    <div class="column centered">
      <h1> Change password </h1>
      
      <%= form_for @user, class: "form-group" do |f| %>

          <label class="form-label" for="password">New Password</label>
          <input class="form-input" type="password" id="user_password" name="user[password]" placeholder="New password" />
          <br>
          
          <label class="form-label" for="password">Password Confirmation</label>
          <input class="form-input" type="password" id="user_password_confirmation" name="user[password_confirmation]" placeholder="New password again" />
          <br>
          
          <%= f.submit "Submit", class:"btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>
