<%= stylesheet_link_tag "welcome" %>

<h1>Library  / AntiLibrary</h1>

<blockquote class="container column col-8">
    <p> 
        Italian philosopher Umberto Eco .... is the owner of a large personal library (containing thirty thousand books), and separates visitors into <span class="hilight">two categories:</span> those who react with <b> “Wow! Signore professore dottore Eco, what a library you have! How many of these books have you read?” </b> and the others – a very small minority – who get the point that <b>a private library is not an ego-boosting appendage but a research tool.</b> 
    </p>
    <p>
Read books are far less valuable than unread ones. The library should contain as much of what you do not know .... You will accumulate more knowledge and more books as you grow older, and the <span class="hilight">growing number of unread book on the shelves will look at you menacingly.</span> Let us call this collection of unread books an antilibrary. 
    </p>

<cite>Nassim Nicholas Taleb, <b>The Black Swan</b></cite>
</blockquote>

<div class="welcome">
</div>

