<%= stylesheet_link_tag "welcome" %>

<h1>Library  / AntiLibrary</h1>

<blockquote class="container column col-8 sindhi-noto">
    <p>

اِطالوي فيلسوف اُمبَرٽو ايڪو وٽ 30 هزارن کان وڌيڪ ڪِتابن جو ذاتي ڪُتب خانو آهي. ساڻس ملڻ لاءِ ايندڙن کي هو ٻن ڀاڱن ۾ ورهائيندو آهي، هڪڙا اهي جيڪي ايترا گھڻا ڪتاب ڏسي وائڙا ٿي پڇندا آهن تہ پروفيسر صاحب، واھہ جي لائبريري آهي؛  توهان اهي سڀ ڪتاب پڙهي ڇڏيا آهن؟ ٻيا اُهي جيڪي ڪتابن گڏ ڪرڻ جي مقصد کي سمجھندا آهن تہ اهي ڪتاب پاڻُ پَڏائڻ يا ڊاڙون هڻڻ جو نہ پر اَڀياس ۽ تَحقيق جو هٿيار آهن.
    </p>
    <p>
پڙهيل ڪتابن جي ڀيٽ ۾ نہَ پڙهيل ڪتاب وڌيڪ ڪارائتا هوندا آهن ڇو جو اهي چِتائن ٿا تہ توهان کي ڇا نہ ٿو اچي ۽ اسانجي ڄاڻ ڪِٿي کُٽل آهي. ڪَٻَٽَ جي خانن ۾ رکيل نہَ پڙهيل ڪتاب وڌندڙ عمر سان گڏ وڌندا رهندا ۽ ڀرسان لنگھڻ وقت اسانتي ڦٽڪاريندي پڇندا: اڃا نہ پڙهيو اٿئي، حيف هجئي.اچو تہ اهڙن نہ پڙهيل ڪتابن جي ڍڳ کي ائنٽي لائبريري يا ضد لائبريري سڏيون.   

    </p>
</blockquote>

<blockquote class="container column col-8">
    <p> 
        Italian philosopher Umberto Eco .... is the owner of a large personal library (containing thirty thousand books), and separates visitors into <span class="hilight">two categories:</span> those who react with <b> “Wow! Signore professore dottore Eco, what a library you have! How many of these books have you read?” </b> and the others – a very small minority – who get the point that <b>a private library is not an ego-boosting appendage but a research tool.</b> 
    </p>
    <p>
Read books are far less valuable than unread ones. The library should contain as much of what you do not know .... You will accumulate more knowledge and more books as you grow older, and the <span class="hilight">growing number of unread book on the shelves will look at you menacingly.</span> Let us call this collection of unread books <b>an antilibrary.</b> 
    </p>

<cite>Nassim Nicholas Taleb, <b>The Black Swan</b></cite>
</blockquote>

<div class="welcome">
</div>

