// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, section a, blockquote {
    position:relative;
    z-index: 2;
}

body {
    background-color: #f2debd;
}
h1 {
    font-size: 1.5rem;
}
blockquote {
    font-size: 1rem;
}

p {
    line-height: 1em;
}

.hilight {
    color: #e85600;
    font-weight: 700;
}

cite {
    color: gray;
}

.section-header {
    background: transparent;
}
