//@import "bootstrap-sprockets";
//@import "bootstrap";
@import 'font_awesome5_webfont';
@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import "spectre.min";

body {
  font-family: 'Ubuntu';
}

a:visited {
  color:#5755d9;
}



table {
  border-spacing: 0;
  border-collapse: collapse;
}

@font-face {
  font-family: 'Sindhi';
  src: font-url('MBLATEEFI.TTF') format('truetype');
}

.sindhi {
  font-family: "Sindhi";
  direction: rtl;
  text-align: right;
}

h1 {
  text-align: center !important;
  font-size: 1.5rem;
}

.bold {
  font-weight: 600
}

.navbar-brand {
  font-weight: 700 !important;
  font-size: 17px !important;
}

.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem;
}

.section-header {
  padding: 1rem .5rem;
  top: 0;
  width: 100%;
  z-index: 200;
}

.grid-header .navbar-section {
  padding: 0;
}
.grid-header .navbar-brand {
  color: #50596c;
}
.grid-header .btn-link {
  color: #667189;
  padding-left: .6rem;
}

.grid-header .btn-link:focus,
.grid-header .btn-link:hover,
.grid-header .btn-link:active {
  color: #50596c;
  opacity: .75;
}

@media screen and (min-width: 601px) {
  .section-header .navbar-section {
    padding: 0 .5rem;
  }
}

.pagination a, em, span {
  padding-left: 2px;
  padding-right: 2px;
}

.number {
  color: black;
}

.btn-warning:hover {
  background-color: #ffb700 !important;
  color: white !important;
}

.btn-danger:hover {
  background-color: #e85600;
  color: white;
}

.field_with_errors { @extend .has-error; }

.navbar-right {
  text-align: right;
}

ul {
  list-style-type: none;
}

i {
  padding-right: 3px;
}