//@import "bootstrap-sprockets";
//@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Ubuntu';
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

@font-face {
  font-family: 'Sindhi';
  src: font-url('MBLATEEFI.TTF') format('truetype');
}

.sindhi {
  font-family: "Sindhi";
  font-weight: 600;
  direction: rtl;
}


h1 {
  text-align: center;
}

.btn {
  font-weight: 700;
}

header a {
  font-size: 20px !important;
}

.card-title {
  font-size: 25px !important;
}

.card-subtitle {
  font-size: 15px !important;
}