<div class="container grid-sm">
  <div class="columns">
    <div class="column centered">
      <%= form_for(@category) do |f| %>
        <div class="form-group">
            <%= f.label :name, "Name", class:"form-label" %>
            <%= f.text_field :name, class:"form-input", placeholder: "Name" %>
        </div>
        <div class="actions">
          <br>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>