<h1 id="categoryPage">Listing Categories</h1>
<div class="columns">
  <div  class="column col-8 centered">
    <div id="tags">

    </div>
    <div id="books" class="columns">
      
    </div>
  </div>
</div>