<%= stylesheet_link_tag "categories" %>

<h1 id="categoryPage">Listing Categories</h1>
<div class="container grid-lg text-center">
  <div class="columns">
    <div  class="column centered">
      <div id="tags">

      </div>
      <div id="books" class="columns">
        
      </div>
    </div>
  </div>
</div>